In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 400)
from time import time
pd.set_option('float_format', '{:f}'.format)

import redshift_connector # !pip install redshift_connector
from time import time
import datetime
import gc

In [2]:
# Connect SQL Server
def connect_sql():
    conn = redshift_connector.connect(host='redshift-cluster-1.the1data.studio',database='the1',user='cds_rbs_lenutchapong',password='PEXIIKuRgBROf4p')
    cursor = conn.cursor()
    return conn,cursor

In [3]:
# Disconnect SQL Server
def disconnect_sql(conn,cur):
    cur.close()
    conn.close()

In [4]:
# Query data and convert to dataframe
def query_data(query):
    start = time()
    
    # Connect SQL Server
    conn,cur=connect_sql()
    print ("Connect SQL Server Succeed!")
    
    print ("Query Data Doing!")
    # Query Data
    df = pd.read_sql(query, conn)
    print ("Query Data Succeed!")
    
    # Disconnect SQL Server
    disconnect_sql(conn,cur)
    
    print("(rows, columns)",df.shape)
    End = time()
    print(f'Time taken to run: {str(datetime.timedelta(seconds=End - start))} hh:mm:ss')
    
    del start,conn,cur,End
    gc.collect()
    return df

# brand_name

In [5]:
##brand_focus
df_list = ['LA MER','DIOR','ESTEE LAUDER','CLARINS','SKII','KIEHLS','CHANEL','SHISEIDO','LANCOME','CLINIQUE','SULWHASOO','SISLEY','BIOTHERM','LOCCITANE']

In [14]:
## Part 1: Overall

def query_sql(brand_name):
    query=''' 
WITH cal AS (
SELECT CASE WHEN type_for_brand IN ('a) new to class','g) lapsed to class') THEN '1) new/lapsed to class'
		WHEN type_for_brand IN ('e) existing cat lapsed to brand','b) existing cat new to brand') THEN '2) new/lapsed ex-cat_pre'
		WHEN type_for_brand IN ('c) existing - spend less','d) existing - spend more than equal') THEN '3) ex-cat/ex-brand spend less/more'
		WHEN type_for_brand IN ('f) switch: 1-1 spend less','f) switch: 1-1 spend more than equal') THEN '4) switch in-out'
		ELSE 'no_use' END AS customer_behav
		, sum(CASE WHEN brand_name_19 IN ('%s') THEN spend_19 ELSE 0 END) loss	--change brand for loop
		, sum(CASE WHEN brand_name_22 IN ('%s') THEN spend_22 ELSE 0 END) gain	--change brand for loop
		, gain - loss AS net_gain_loss
FROM analysis_cds_rbs.kd_tmp_brand_switch_beauty_66_23_skincare		--change db
WHERE (brand_name_19 IN ('%s') OR brand_name_22 IN ('%s'))	--change brand for loop
GROUP BY 1
HAVING customer_behav != 'no_use'
ORDER BY 1
)

, recal_2 AS (
SELECT '2) new/lapsed ex-cat' AS customer_behav
		, sum(CASE WHEN customer_behav IN ('2) new/lapsed ex-cat_pre') THEN loss ELSE 0 END) - sum(CASE WHEN customer_behav IN ('4) switch in-out') THEN loss ELSE 0 END) AS loss
		, sum(CASE WHEN customer_behav IN ('2) new/lapsed ex-cat_pre') THEN gain ELSE 0 END) - sum(CASE WHEN customer_behav IN ('4) switch in-out') THEN gain ELSE 0 END) AS gain
FROM cal
GROUP BY 1
)

, final_recal2 AS (
SELECT *
		, gain - loss AS net_gain_loss
FROM recal_2
)

, df_output AS (
SELECT *
FROM cal
WHERE customer_behav != '2) new/lapsed ex-cat_pre'
UNION 
SELECT *
FROM final_recal2
ORDER BY 1 ASC
)

SELECT *
FROM df_output
    '''%(brand_name,brand_name,brand_name,brand_name)
    return query

In [21]:
for i in df_list:
    print(i)
    query=query_sql(i)
    df_t = query_data(query)
    df_t['brand_name']=i
    path='''2main_brand_switch_pt1/raw_data/pt1_fin_66_raw_data_brand_switch_%s.csv'''%(i)
    df_t.to_csv(path,encoding='utf-8',index=False)

LA MER
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.458247 hh:mm:ss
DIOR

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.432762 hh:mm:ss
ESTEE LAUDER

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.390303 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CLARINS
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.415764 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

SKII
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.414819 hh:mm:ss
KIEHLS

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.501192 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CHANEL
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.457060 hh:mm:ss
SHISEIDO

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.839702 hh:mm:ss
LANCOME
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.400692 hh:mm:ss
CLINIQUE

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.444683 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

SULWHASOO
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.435356 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

SISLEY
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.379957 hh:mm:ss
BIOTHERM

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.406176 hh:mm:ss
LOCCITANE

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (4, 4)
Time taken to run: 0:00:00.434863 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [22]:
import os
path = '2main_brand_switch_pt1/raw_data'
types=os.listdir(path)
types.sort(reverse = False)
for i in types:
    print(i)

pt1_fin_66_raw_data_brand_switch_BIOTHERM.csv
pt1_fin_66_raw_data_brand_switch_CHANEL.csv
pt1_fin_66_raw_data_brand_switch_CLARINS.csv
pt1_fin_66_raw_data_brand_switch_CLINIQUE.csv
pt1_fin_66_raw_data_brand_switch_DIOR.csv
pt1_fin_66_raw_data_brand_switch_ESTEE LAUDER.csv
pt1_fin_66_raw_data_brand_switch_KIEHLS.csv
pt1_fin_66_raw_data_brand_switch_LA MER.csv
pt1_fin_66_raw_data_brand_switch_LANCOME.csv
pt1_fin_66_raw_data_brand_switch_LOCCITANE.csv
pt1_fin_66_raw_data_brand_switch_SHISEIDO.csv
pt1_fin_66_raw_data_brand_switch_SISLEY.csv
pt1_fin_66_raw_data_brand_switch_SKII.csv
pt1_fin_66_raw_data_brand_switch_SULWHASOO.csv

In [23]:
ck=0
for i in types:
    print(i)
    path='''2main_brand_switch_pt1/raw_data/%s'''%(i)
    df_tmp=pd.read_csv(path)
    if ck==0:
        df=df_tmp
        ck=1
    else:
        df=pd.concat([df,df_tmp],axis=0)
# df = df.fillna(0)
del df_tmp

pt1_fin_66_raw_data_brand_switch_BIOTHERM.csv
pt1_fin_66_raw_data_brand_switch_CHANEL.csv
pt1_fin_66_raw_data_brand_switch_CLARINS.csv
pt1_fin_66_raw_data_brand_switch_CLINIQUE.csv
pt1_fin_66_raw_data_brand_switch_DIOR.csv
pt1_fin_66_raw_data_brand_switch_ESTEE LAUDER.csv
pt1_fin_66_raw_data_brand_switch_KIEHLS.csv
pt1_fin_66_raw_data_brand_switch_LA MER.csv
pt1_fin_66_raw_data_brand_switch_LANCOME.csv
pt1_fin_66_raw_data_brand_switch_LOCCITANE.csv
pt1_fin_66_raw_data_brand_switch_SHISEIDO.csv
pt1_fin_66_raw_data_brand_switch_SISLEY.csv
pt1_fin_66_raw_data_brand_switch_SKII.csv
pt1_fin_66_raw_data_brand_switch_SULWHASOO.csv

In [18]:
print(df['brand_name'].value_counts())

BIOTHERM        4
CHANEL          4
CLARINS         4
CLINIQUE        4
DIOR            4
ESTEE LAUDER    4
KIEHLS          4
LA MER          4
LANCOME         4
LOCCITANE       4
SHISEIDO        4
SISLEY          4
SKII            4
SULWHASOO       4
Name: brand_name, dtype: int64

In [24]:
df.to_csv('2main_brand_switch_pt1/brand_switch_concat_pt1.csv'
         , index = False)

In [20]:
df.head()

,customer_behav,loss,gain,net_gain_loss,brand_name
0,1) new/lapsed to class,24353263.310000,16017867.500000,-8335395.810000,BIOTHERM
1,2) new/lapsed ex-cat,7852720.540000,5865687.060000,-1987033.480000,BIOTHERM
2,3) ex-cat/ex-brand spend less/more,14715092.970000,14682797.020000,-32295.950000,BIOTHERM
3,4) switch in-out,2341493.520000,1809087.100000,-532406.420000,BIOTHERM
0,1) new/lapsed to class,45078632.460000,46600862.930000,1522230.470000,CHANEL

In [6]:
## Part 2: Switch in-out

def query_sql(brand_name):
    query=''' 
WITH merge_brand_out AS (
SELECT brand_name_22 AS brand_name
		, sum(spend_19) sales_switch_out 
FROM analysis_cds_rbs.kd_tmp_brand_switch_beauty_66_23_skincare		--change db
WHERE 1=1
	AND type_for_brand  IN ('f) switch: 1-1 spend more than equal','f) switch: 1-1 spend less')
	AND brand_name_19 IN ('%s')		--change brand for loop
	AND brand_name_22 NOT IN ('Other')
GROUP BY 1
)
	
, merge_brand_in AS (
SELECT brand_name_19 AS brand_name
		, sum(spend_22) sales_switch_in 
FROM analysis_cds_rbs.kd_tmp_brand_switch_beauty_66_23_skincare		--change db
WHERE 1=1
	AND type_for_brand  IN ('f) switch: 1-1 spend more than equal','f) switch: 1-1 spend less')
	AND brand_name_22 IN ('%s')		--change brand for loop
	AND brand_name_19 NOT IN ('Other')
GROUP BY 1
)

, all_brand AS (
SELECT DISTINCT brand_name
FROM merge_brand_out
UNION
SELECT DISTINCT brand_name
FROM merge_brand_in
)

, df_output AS (
SELECT b.brand_name AS to_brand
		, o.sales_switch_out
		, i.sales_switch_in
		, COALESCE(i.sales_switch_in,0) - COALESCE(o.sales_switch_out,0) AS sales_net_gain_loss
FROM all_brand b
LEFT JOIN merge_brand_out o
	ON b.brand_name = o.brand_name
LEFT JOIN merge_brand_in i
	ON b.brand_name = i.brand_name
)

SELECT *
FROM df_output
    '''%(brand_name,brand_name)
    return query

In [8]:
for i in df_list:
    print(i)
    query=query_sql(i)
    df_t = query_data(query)
    df_t['brand_name']=i
    path='''2main_brand_switch_pt2/raw_data/pt2_fin_66_raw_data_brand_switch_%s.csv'''%(i)
    df_t.to_csv(path,encoding='utf-8',index=False)

LA MER
Connect SQL Server Succeed!
Query Data Doing!
Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:01.675262 hh:mm:ss

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DIOR
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:03.090374 hh:mm:ss
ESTEE LAUDER
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.601656 hh:mm:ss
CLARINS
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.609553 hh:mm:ss
SKII
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.725451 hh:mm:ss
KIEHLS
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.687154 hh:mm:ss
CHANEL
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.577575 hh:mm:ss
SHISEIDO
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.714469 hh:mm:ss
LANCOME
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.698226 hh:mm:ss
CLINIQUE
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.747090 hh:mm:ss
SULWHASOO
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (12, 4)
Time taken to run: 0:00:00.689780 hh:mm:ss
SISLEY
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (12, 4)
Time taken to run: 0:00:00.756557 hh:mm:ss
BIOTHERM
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.519651 hh:mm:ss
LOCCITANE
Connect SQL Server Succeed!
Query Data Doing!

C:\Users\LeNutchapong\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Query Data Succeed!
(rows, columns) (13, 4)
Time taken to run: 0:00:00.738105 hh:mm:ss

In [9]:
import os
path = '2main_brand_switch_pt2/raw_data'
types=os.listdir(path)
types.sort(reverse = False)
for i in types:
    print(i)

pt2_fin_66_raw_data_brand_switch_BIOTHERM.csv
pt2_fin_66_raw_data_brand_switch_CHANEL.csv
pt2_fin_66_raw_data_brand_switch_CLARINS.csv
pt2_fin_66_raw_data_brand_switch_CLINIQUE.csv
pt2_fin_66_raw_data_brand_switch_DIOR.csv
pt2_fin_66_raw_data_brand_switch_ESTEE LAUDER.csv
pt2_fin_66_raw_data_brand_switch_KIEHLS.csv
pt2_fin_66_raw_data_brand_switch_LA MER.csv
pt2_fin_66_raw_data_brand_switch_LANCOME.csv
pt2_fin_66_raw_data_brand_switch_LOCCITANE.csv
pt2_fin_66_raw_data_brand_switch_SHISEIDO.csv
pt2_fin_66_raw_data_brand_switch_SISLEY.csv
pt2_fin_66_raw_data_brand_switch_SKII.csv
pt2_fin_66_raw_data_brand_switch_SULWHASOO.csv

In [11]:
ck=0
for i in types:
    print(i)
    path='''2main_brand_switch_pt2/raw_data/%s'''%(i)
    df_tmp=pd.read_csv(path)
    if ck==0:
        df=df_tmp
        ck=1
    else:
        df=pd.concat([df,df_tmp],axis=0)
# df = df.fillna(0)
del df_tmp

pt2_fin_66_raw_data_brand_switch_BIOTHERM.csv
pt2_fin_66_raw_data_brand_switch_CHANEL.csv
pt2_fin_66_raw_data_brand_switch_CLARINS.csv
pt2_fin_66_raw_data_brand_switch_CLINIQUE.csv
pt2_fin_66_raw_data_brand_switch_DIOR.csv
pt2_fin_66_raw_data_brand_switch_ESTEE LAUDER.csv
pt2_fin_66_raw_data_brand_switch_KIEHLS.csv
pt2_fin_66_raw_data_brand_switch_LA MER.csv
pt2_fin_66_raw_data_brand_switch_LANCOME.csv
pt2_fin_66_raw_data_brand_switch_LOCCITANE.csv
pt2_fin_66_raw_data_brand_switch_SHISEIDO.csv
pt2_fin_66_raw_data_brand_switch_SISLEY.csv
pt2_fin_66_raw_data_brand_switch_SKII.csv
pt2_fin_66_raw_data_brand_switch_SULWHASOO.csv

In [12]:
print(df['brand_name'].value_counts())

BIOTHERM        13
CHANEL          13
CLARINS         13
CLINIQUE        13
DIOR            13
ESTEE LAUDER    13
KIEHLS          13
LA MER          13
LANCOME         13
LOCCITANE       13
SHISEIDO        13
SKII            13
SISLEY          12
SULWHASOO       12
Name: brand_name, dtype: int64

In [13]:
df.to_csv('2main_brand_switch_pt2/brand_switch_concat_pt2.csv'
         , index = False)

# MS Notify

In [17]:
import requests
url='https://centralgroup.webhook.office.com/webhookb2/0e146277-edd2-4678-bedd-ee76a1a8bf06@817e531d-191b-4cf5-8812-f0061d89b53d/IncomingWebhook/d97dc1b8738842a6bb5e2b92cddf7b16/0fd8012f-8f3d-4d8d-baf4-232c6db78985'
def send_teams(webhook_url:str, content:str, title:str, color:str="000000") -> int:
    """
      - Send a teams notification to the desired webhook_url
      - Returns the status code of the HTTP request
        - webhook_url : the url you got from the teams webhook configuration
        - content : your formatted notification content
        - title : the message that'll be displayed as title, and on phone notifications
        - color (optional) : hexadecimal code of the notification's top line color, default corresponds to black
    """
    response = requests.post(
        url=webhook_url,
        headers={"Content-Type": "application/json"},
        json={
            "themeColor": color,
            "summary": title,
            "sections": [{
                "activityTitle": title,
                "activitySubtitle": content
            }],
        },
    )
    return response.status_code # Should be 200

In [18]:
# Preparing content
title="Automated Notification about RBS lapsed"
content = """
The content of this notification is <i>Update raw_data_RBS_lapsed_Lapsed Done!!</i>.
😍
"""
# Sending content
send_teams(url, content, title)

200